<!doctype html>
<html lang="en">
<% include ../partials/head %>
<body class="posts home page">
<% include ../partials/slidey %>
<div class="main-wrap">
    <header id="top" style="background-image: url('/images/galaxy.jpg');">
        <% include ../partials/navigation %>
        <div class="site-heading">
            <h1><%= site.siteName %></h1>
            <hr class="small">
            <span class="subheading"><%= site.siteMotto %></span>
        </div>
    </header> 
    <section class="content">
        <ul class="items">
            <% if (posts.length) { posts.forEach(function(post){ %>
                <li>
                    <article class="wrap">
                        <h2><a href="/posts/<%= post.url %>" title="<%= post.title %>"><%= post.title %></a></h2>
                        <div class="content"><%- post.abstract %></div>
                        <footer>Published: <time datetime="<%= post.date %>"><%= post.date %></time>; tags: <a href="#">tag1</a></footer>
                    </article>
                </li>
            <% }) } %>
        </ul>
    </section>
    <% include ../partials/footer %>
</div>
<% include ../partials/analytics %>
</body>
</html>
