<!doctype html>
<html lang="en">
<% include ../partials/head %>
<body class="posts home page">
<% include ../partials/slidey %>
<div class="main-wrap">
    <header id="top" style="background-image: url('/images/galaxy.jpg');">
        <% include ../partials/navigation %>
    </header> 
    <section class="content">
        <ul class="items">
            <% if (posts.length) { posts.forEach(function(post){ %>
                <li>
                    <article class="wrap">
                        <h2><%- link_to(post.title, '/posts/' + post.url) %></h2>
                        <div class="content"><%- post.abstract %></div>
                        <footer>Published: <time datetime="<%= post.date %>"><%= post.date %></time>;
                            <% if (post.tags) { %> tags: <% for(var i=0; i<post.tags.length; i++) { %>
                                <%- link_to(post.tags[i], '/tags/' + post.tags[i]) %><% if (i !== post.tags.length - 1) { %>,<% } %>
                            <% }} %>
                        </footer>
                    </article>
                </li>
            <% }) } %>
        </ul>
    </section>
    <% include ../partials/footer %>
</div>
<% include ../partials/analytics %>
</body>
</html>
